
body{
	background-color: #E93B81;
}
#Brand{
	
	padding-left:30px;
	float: left;
}
#nav-Content{
	float: right;
	
}
#navPad{
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}
#navSpace{
	margin-right: 10em;
	font-family: Arbutus,20px;
}
.active{
	color: rgba(0, 0, 0, 1.0);
}


.active1{
	color: rgba(255, 15, 0, 1.0);
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 5.0);
	text-decoration-style: solid;
	text-decoration-thickness: 5px;
}
.active:hover{
	border: all
}
.icon{
  background-color: white;
  border-radius: 80%;
  border: 1px solid grey;
  padding: 10px;
size: 10px;
} 




.header{
	margin-top: 50px;
	font font-family: Righteous;
	color: rgba(255, 255, 255, 1.0);
	text-align: center;
	font-size: 100px;
}

.coroitem{
text-align: center;
	margin-top:5% ;
	position: relative;
	font-family: sans-serif;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: rgba(255, 255, 255, 1.0);
	
}
#carouse-pos{
text-decoration: none;
}
.carousel-control-prev-icon{
	color: rgba(255, 255, 0, 1.0);
}








